
.loader-container{
    padding: 40px;
    height: 95vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: rgba(255, 255, 255, 0.658);
    position: absolute;
    top: 0;
    left: 0;
}
.loaderImg{
    margin-top: 20px;
    height: 120px;
    width: 120px;
    overflow: hidden;
    border-radius: 50%;
    animation: App-logo-spin;
}
.loaderImg img{
    height: 100%;
    width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
    .loaderImg {
      animation: App-logo-spin infinite 1s linear;
    }
  }


  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  