
.loader-wraper{
	padding: 80px;
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
}

.loader-content{

}
.loader-image{
	height: 60px;
	width: 60px;
	animation: loader 4s infinite ease-in;
}

@keyframes loader{
	0%{
		transform: rotate(360deg);
	}
	100%{
		transform: rotate(0);
	}
}