
.main-navbar-wraper{
	padding: 0 30px;
	height: 70px;
	position: sticky;
	top:0;
	left:0;
	z-index:100;
}


.logo-wraper h4{
	color: rgb(255, 255, 255);
	font-family: cursive;
}

.desktop-navbar-links{
	padding-right: 30px;
	flex:1;
}
.mobile-navbar-links, .menubar-wraper{
	display: none;
}
.main-navbar-wraper .nav-link{
	color: rgb(255, 255, 255);
}
.navbar-icon{
	margin: 0 15px;
	font-size: 25px;
	color: rgb(255, 255, 255);
}

.navbar-btn-wraper{
	overflow: hidden;
}
.navbar-btn{
	margin:0 5px;
	color: #fff;
	border: none;
	border-radius: 4px;
	border: 1px solid #fff;
	background-color: transparent;
	font-size: 18px;
}

.navbar-icon-wraper{
	position: relative;
}
.navbar-icon-wraper.slip-card{
	display: none;
}
.badge-content{
	font-size: 12px;
	position: absolute;
	top: -2px;
	right:-6px;
	z-index: 10;
}
@media screen and (max-width:600px){
	.logo-wraper{
		flex: 1;
	}
	.logo-wraper h4{
		color: #fff;
		font-family: cursive;
	}
	.desktop-navbar-links{
		display: none;
	}
	.menubar-wraper, .navbar-icon-wraper.slip-card{
		display: block;
	}
	.mobile-navbar-links{
		margin-top: 70px;
		height: 100vh;
		width:100%;
		display: block;
		background-color: rgba(34, 33, 33, 0.955);
		position: fixed;
		top: 0;
		left: 0;
		z-index: 11;
	}
	.mobile-navbar-links .nav{
		flex-direction: column;
	}

	.main-navbar-wraper{
		padding:30px 10px;
	}

}