
.my-table{
    width: 100%;
}
.my-table thead{
    /* background-color: #311286; */
    /* color: #fff; */
}

.table-header{
    background-color: #0d420d;
}
.my-table tr, .my-table tr th{
    border-bottom: 1px solid rgb(161, 161, 161);
}

.my-table tr th{
    padding: 5px;
}
.my-table tr td{
    /* padding: 2px; */
    font-size: 14px;
}

.slip-card-pop-up{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(182, 228, 235, 0.829);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 102;
}
.hide-slip-card-pop-up{
    display: none;
}
.slip-card{
    padding: 50px 20px;
    width: 35%;
    background-color: rgb(249, 253, 250);
    position: relative;
}
.slip-card  h4, .slip-card h5{
    color: #333;
    font-weight: 700;
}

.slip-card-header{
    display: flex;
    justify-content: space-between;
}
.slip-card-close{
    overflow: hidden;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: -12px;
    right: -12px;
    z-index: 110;
}
.close-btn{
    font-size: 35px;
    color: #111;
    cursor: pointer;
}
.slip-card-body{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
}


@media screen and (max-width:500px){
    .my-table tr th{
        padding: 8px 5px;
        font-size: 12px;
    }
    .my-table tr, .my-table tr th{
        border-bottom: 1px solid rgb(161, 161, 161);
    }
    .my-table tr td{
        padding: 4px;
        font-size: 12px;
    }

    .slip-card{
        padding: 50px 20px;
        width: 95%;
        background-color: rgb(249, 253, 250);
        position: relative;
    }
  }