

.sub-navbar-wraper{
	padding: 10px 5px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sub-navbar-wraper .nav .nav-link{
	color: #fff;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.sub-nav-icon{
	font-size: 25px;
}
.search-wraper{
	display: block;
}
@media screen and (max-width:600px){
	.sub-navbar-wraper .nav .nav-link{
		padding: 0 10px;
	}
	.search-wraper{
		display: none;
	}
}