body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-container-wraper{
    height: 25vh;
    width: 100%;
    background-color: #1c1d1c;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header-icons-container{
    display: flex;
    justify-content: space-between;
}

.links-container{
    padding: 8px 10px;
    width: 100%;
    background-color: #313130;
    border-bottom: 3px solid #eb7526;
}

.nav-link-icon{
    margin-top: -5px;
    color: #eb7526;
}


.big-screen{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-screen{
    display: none;
}

.nav-link{
    color: #fff;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-icon{
    font-size: 28px;
    color: #fff;
}

.user-action-bar{
    position: relative;
    display: flex;
}
.show-nitification-container{
    /* width: 100%; */
    padding: 10px 15px;
    background-color: #333;
    position: absolute;
    bottom: -16vh;
    right: 2px;
}
/* .show-nitification-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 70%;
    z-index: -1;
    background-color: #333;
    transform: rotate(45deg);
} */
.icon-nav-link{
    font-size: 16px;
}

.hide-nitification-container{
    display: none;
}
.notification-link{
    color: #fff;
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.badg-count-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-count-icon{
    position: absolute;
    top: -10px;
    right: -5px;
}
.count-icon{
    padding: 6px;
    overflow: hidden;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
}

@media screen and (max-width:500px){
    .nav-container-wraper{
        height: 20vh;
    }
    .links-container{
        padding: 0;
        background-color: transparent;
    }
    .nav-link{
        font-size: 14px;
        border-bottom: 1px solid #444;
    }
    .big-screen{
        display: none;
    }
    .mobile-screen{
        padding: 10px;
        width: 100%;
        display: block;
        background-color: #000292;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sport-navbar .nav-link{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        font-size: 12px;
    }
    .nav-link-icon{
        margin-top: -5px;
        color: #eb7526;
        font-size: 18px;
    }
  
    .menu-container{
        margin-top: 20vh;
        height: 80vh;
        width: 100%;
        background-color: #222;
        position: fixed;
        top: 0;
        z-index: 5;
    }
    .menu-container .nav{
        display: flex;
        flex-direction: column;
    }
    .header-icons-container{
        padding: 20px 10px;
    }
    .header-icon{
        font-size: 25px;
        color: #fff;
    }
    .badg-count-box{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .inner-count-icon{
        position: absolute;
        top: -10px;
        right: -5px;
    }
    .count-icon{
        padding: 6px;
        overflow: hidden;
        border-radius: 50%;
        color: #fff;
        font-weight: 700;
    }
}
