

.sidebar-content-wraper{
    margin-bottom: 20px;
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
}
.sidebar-content-wraper.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar-content-wraper.right div{
    padding: 5px;
    flex-basis: 49%;
    border: 1px solid #ccc;
}

.sidebar-content-wraper table{
    width: 100%;
}
.sidebar-content-wraper table tr td{
    font-size: 14px;
}
.sidebar-content-wraper .inner-table{
    width: 100%;
    border-top: 1px solid #222;
}
.sidebar-content-wraper .inner-table tr td{
    padding: 5px;
}