
.signle-card{
	padding: 5px;
}
.signle-card h4{
	color: #333;
}
.multi-crad{
	padding: 5px;
}

.my-success-btn{
	margin: 0 5px;
	padding: 5px 10px;
	border: none;
	border-radius: 3px;
	color: #fff;
	font-size: 18px;
	background-color: rgb(131, 177, 6);
}
.my-danger-btn{
	margin: 0 5px;
	padding: 5px 10px;
	border: none;
	border-radius: 3px;
	color: #fff;
	font-size: 18px;
	background-color: rgb(184, 1, 47);
}