
.my-table{
    width: 100%;
}
.my-table thead{
    background-color: rgb(63, 88, 170);
    color: #fff;
}

.my-table tr, .my-table tr th{
    border-bottom: 1px solid rgb(161, 161, 161);
}

.my-table tr th{
    padding: 5px;
}
.my-table tr td{
    padding: 4px;
}

  @media screen and (max-width:500px){
    .my-table tr th{
        padding: 8px 5px;
        font-size: 13px;
    }
    .my-table tr, .my-table tr th{
        border-bottom: 1px solid rgb(161, 161, 161);
    }
    .my-table tr td{
        padding: 4px;
        font-size: 14px;
    }
  }