

.sport-inner-content-wraper .my-table span{
	margin: 0 0 0 6px;
	padding: 5px;
	background-image: linear-gradient(to bottom, rgb(52, 79, 233), rgb(4, 26, 155));
}
.sport-inner-content-wraper .my-table .table-icon{
	color: #fff;
	font-size: 20px;
}

.sport-table-wraper{
	margin: 20px 0;
}

.overlay-module-wraper{
	height:100vh;
	width:100%;
	
	justify-content: center;
	align-items: center;
	background-color: #3333;
	position: fixed;
	top:0;
	left:0;
	z-index:10;
}

.overlay-module-wraper.show{
	display: flex;
}
.overlay-module-wraper.hide{
	display: none;
}
.inner-module-wraper{
	width:35%;
	background-color: #fff;
	border-radius: 6px;
}
.module-content-wraper{
	padding: 20px;
	display: flex;
	justify-content: space-around;
}

@media screen and (max-width:600px){
	.inner-module-wraper{
		width:98%;
		background-color: #fff;
		border-radius: 6px;
	}
}