

.subnavbar-container{
	background-color: #fff;
}

.subnav-item{
	padding: 15px;
}
.subnav-item img{
	width: 80px;
	height: 80px;
}

.sport-inner-nav{
	background-color:  #222;
	padding:10px;
}

.tbl-btn{
	border: none;
	font-size: 25px;
	/* background-color: rgb(131, 177, 6); */
	color:  rgb(131, 177, 6);
}
@media screen and (max-width:600px){
	.subnav-item{
		padding: 15px;
	}
	.subnav-item span{
		font-size: 13px;
	}
	.subnav-item img{
		width: 45px;
		height: 45px;
	}
}