.App{
	background-color: #111;
	color:#ccc;
}

.my-bg{
	background-color: rgb(15, 15, 15);
}
.app-inner-container{
	padding: 0 5%;
}
.app-container{
	margin: 10px;
	min-height:80vh;
	flex:1;
}
.app-sidebar{
	margin-top: 10px;
	height:80vh;
	flex-basis:16%;
}

.home-container{
	flex:1;
}

.temp-card-container{
	margin-left: 10px;
	height:350px;
	flex-basis: 30%;
}
.content-wraper{
	margin-bottom: 20px;
	width:100%;
	border:1px solid #333;
	background-color:  #222;
}

.content-header{
	padding:5px;
	background-color: rgb(131, 177, 6);
}
.content-header h4{
	margin:0;
	color: #fff;
}

.content-body{

}

.table tr td{
	padding: 5px;
	font-size: 15px;
	border: none;
	border-bottom: 1px solid #333;
}

.table-xbtn{
	border: 1px solid red;
}
.row-content{
	display: flex;
	flex-direction: column;
}
.row-content span{
	padding: 0;
	margin: 0;
}

.popup-overlay-wraper{
	height:100vh;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(82, 76, 76, 0.432);
	position: fixed;
	top:0;
	left:0;
	z-index: 120;
}

.popup-overlay-wraper .content-wraper{
	width:40%;
	background-color: #fff;
}

.betting-content{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.betting-data{
	margin: 10px 5px;
	background-color: rgb(192, 245, 214);
}
.betting-data span{
	display: block;
}

.table tr td{
	color: #eee;
}
@media screen and (max-width:600px){
	.app-inner-container, .app-container{
		margin: 0;
		padding: 0;
	}

	.app-sidebar, .temp-card-container{
		display: none;
	}

	.popup-overlay-wraper .content-wraper{
		width:90%;
		background-color: #fff;
	}
	
	.table tr td{
		padding: 5px;
		font-size: 13px;
	}
	.tble-extra{
		display:none;
	}
}