
body{
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5{
  color: #fff;
}
.my-card-header{
  padding: 10px;
  background-color: #669933;
}

.man-container{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.man-wraper{
  /* margin: 0 10px; */
  flex: 1;
}

@media screen and (max-width:500px){
  .man-wraper{
    margin: 0px;
    flex: 1;
  }
  .my-card-header{
    padding: 5px;
    background-color: #669933;
  }
}